@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    /* position: sticky;
    top: 0;
    background-color: #f9f9f9; */
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000; /* Ensure the header is above other content */
}

main {
    display: flex;
    background-color: #f9f9f9;
}


/* Sidebar */
.side-bar {
    /* height: 100vh; */
    font-size: 0.88rem;
    /* color: #646464; */
    color: #494949;
    height: calc(100vh - 4rem); /* Subtract header height from viewport height */
    width: 16%;
    background-color: white;
    overflow-y: hidden;   /* Initially hide scrollbar  */
  
    /* Position the sidebar fixed on the left side of the viewport */
    position: fixed;  /* Fix the sidebar */
    top: 4rem;  /* Set top position below the header */
    left: 0;
    bottom: 0;
}


 .side-bar:hover {
    /* height: fit-content; */
    /* scrollbar-width: 1px; */
    overflow-y: auto;  /* Show scrollbar on hover */
}

/* 
.side-bar::-webkit-scrollbar {
    width: 10px; 
}  */
  

/* Style the left section */
.left {
    display: flex;
    align-items: center;
}

.left #menu {
    padding: 0 0.5rem;
    cursor: pointer;
}

/* Style the center section and its form */
.search {
    display: flex;
}

.search form {
    display: flex;
    height: 2.5rem;
}


/* Style the input in the search form */
.search input {
    width: 600px;
    padding: 15px;
    border: 1px solid #cdcbcb;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(0, 182, 254);
}

/* Style the search and mic icons/buttons */
.search button {
    height: 100%;
    width: 60px;
    border: 1px solid #cdcbcb;
    border-radius: 0 50px 50px 0;
}

.mic {
    margin-top: 0;
    margin-left: 1rem;
    background-color: #efeded;
    border-radius: 2rem;
}

.mic > i {
    padding-block: 0.5rem;
}


.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}

/* Style the navbar */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style the nav link */
.nav-link {
    display: flex;
    align-items: center;
    /* padding: 12px 25px; */
    padding: 0.5rem;
    margin-inline: 0.5rem;
}

.nav-link span {
    margin-left: 15px;
}

.nav-link img {
    width: 21px; /* Set the width to your desired value */
    height: 21px; /* Set the height to your desired value */
    object-fit: contain ; /* Optional: Ensures the image covers the entire box */
    border-radius: 8px;
    margin-left: 0.6rem;
    margin-right: 0.4rem;
}

.nav-link:hover {
    border-radius: 1rem;
    background: #f2f1f1;
    cursor: pointer;
}

hr {
    height: 0.9px;
    background-color: #e9e6e6;   /*#cdcbcb*/
    border: none;
    margin-block: 0.7rem;
}

.sign-in {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1.5rem;
}

.sign-in>a {
    display: flex;
    border: 1px solid #cdcbcb;
    border-radius: 20px;
    width: fit-content;
    padding: 0.3rem;
    padding-right: 1rem;
    color: #429af8;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.sign-in>a:hover {
    background: #c9e0fa;
    cursor: pointer;
    border: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 25px;
}

.footer-link {
    margin-right: 10px;
    margin-bottom: 5px;
    color: rgb(74, 74, 74);
    font-size: small;
}

.footer-link:hover {
    cursor: pointer;
}

.copyright {
    margin-left: 25px;
    font-size: small;
    color: rgb(143, 143, 143);
}


/* Styling the content and videos */
.content {
    background-color: #ffffff;  /* #f9f9f9; */
    width: 100%;
    height: calc(100vh - 1rem); /* Adjust height to fill remaining viewport */
    padding: 5rem 2rem 0rem 17%; /*Adjust padding to accommodate the fixed sidebar and header */ 
     /* padding: 15px 15px; */
    border-top: 1px solid #ffffff;
    overflow-y: auto;
    margin-top: 1rem; /* Add margin to push content below the fixed header */
    /* border: 5px solid red; */

}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.video {
    width: 24rem;
    margin-bottom: 2rem;
}

.thumbnail {
    width: 100%;
    height: 220px;
}

.thumbnail img {
    /* object-fit: cover; */
    height: 94%;
    width: 100%;
    border-radius: 10px;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


.details {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a,
.title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
}